<div class="home-page">
	<div class="banner">
		<div class="title">
			WAY Book Analytics
		</div>
		<div class="cover-pic-wrapper">
			<%= link_to analytics_path do  %>
				<%= image_tag("analytics-charts", size: "630x389") %>
			<% end %>
		</div>
		<div class="sentence">
			Decision-making with live company dataaaa
		</div>
	</div>
</div>