<div class="home-page">
	<div class="banner">
		<div class="title">
			WAY Book Analytics
		</div>
		<div class="cover-pic-wrapper">
			<%= image_tag("analytics-charts", size: "630x389") %>
		</div>
		<div class="sentence">
			Decision-making with live company data
		</div>
	</div>
</div>