<div class="chart-wrapper">
	<div class="title">
		Num. employees per nationality People
	</div>
	<div class="canvas-wrapper-one-third">
		<canvas id="num_employees_per_nationality_people" height="100" width="100"></canvas>
	</div>
</div>



<script type="application/javascript">
	<% content_for(:chart_js) do %>
	  <%= javascript_tag do %>
	  	
  	  	attr = {
	  		dataX: <%= @nationalities_names_people %>,
	  		dataY: <%= @num_employees_per_nationality_people %>,
	  		id: "num_employees_per_nationality_people",
	  		type: "bar",
	  		xAxesTicksAutoSkip: true
	  	};
		chartBarGenerator(attr);
		
	  <% end %>
	<% end %>
</script>

