<div class="chart-wrapper">
	<div class="title">
		Num. employees per nationality
	</div>
	<div class="canvas-wrapper-one-third">
		<canvas id="num_employees_per_nationality" height="100" width="100"></canvas>
	</div>
</div>

<script type="application/javascript">
	<% content_for(:chart_js) do %>
	  <%= javascript_tag do %>
	  	
  	  	attr = {
  	  		dataX: <%= @nationalities_names %>,
  	  		dataY: <%= @num_employees_per_nationality %>,
  	  		id: "num_employees_per_nationality",
  	  		type: "bar",
	  		xAxesTicksAutoSkip: true
  	  	}
  	  	chartBarGenerator(attr);
		
	  <% end %>
	<% end %>
</script>



