<div class="left-menu">
	<div class="item">
		<div class="icon-wrapper">
			<i class="fa fa-users" aria-hidden="true"></i>
		</div>
		Num. employees
	</div>
	<div class="item">
		<div class="icon-wrapper">
			<i class="fa fa-flag" aria-hidden="true"></i>
		</div>
		Nationality
	</div>
	<div class="item">
		<div class="icon-wrapper">
			<i class="fa fa-child" aria-hidden="true"></i>
		</div>
		Age
	</div>
	<div class="item">
		<div class="icon-wrapper">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
		</div>
		New Employees
	</div>
	<div class="item">
		<div class="icon-wrapper">
			<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
		</div>
		Longevity
	</div>
	<div class="item">
		<div class="icon-wrapper">
			<i class="fa fa-wrench" aria-hidden="true"></i>s
		</div>
		Skills
	</div>
</div>