.chart-wrapper {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	.title {
		display: inline-block;
		font-size: 14px;
		color: rgb(100,100,100);
		line-height: 28px;
		border-radius: 15px;
		padding: 0px 10px;
		text-align: center;
		margin: 20px auto 5px auto;
	}
	.canvas-wrapper-one-third {
		width: 350px;
		// height: 450px;
		// padding: 10px;
	}
	.canvas-wrapper-three-thirds {
		width: 850px;
		// height: 350px;
		padding: 10px;
	}

}